<canvas id="game_canvas", height="400", width="600" style="border: 1px solid black;">
Perhaps a canvas is not supported in your browser.
</canvas>
<div>
  <h2>Instructions</h2>
  <ul>
    <li>Use left and right arrow keys to control paddle.</li>
    <li>Hit spacebar to start a new game.</li>
  </ul>
</div>
<div>
TODO:  LiveView High scores will go here...
</div>
