<section class="phx-hero">
  <h1>Breakout</h1>
</section>

<canvas id="game_canvas", height="400", width="600" style="border: 1px solid black;">
Perhaps a canvas is not supported in your browser.
</canvas>
